pipeline/unstatistic-extract-uncrimefiles_Foreach.json
{
	"name": "unstatistic-extract-uncrimefiles_Foreach",
	"properties": {
		"activities": [
			{
				"name": "SP PipelineExecutionHistory_Create",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsnmdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP PipelineExecutionHistory_Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": {
								"value": "@variables('PiplineExecutionDescription')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@variables('PiplineExecutionStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsnmdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Truncate uncrime_untyped",
				"description": "TRUNCATE TABLE \n[staging].[uncrime_untyped];\nSELECT 1;",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP PipelineExecutionHistory_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "TRUNCATE TABLE \n[staging].[uncrime_untyped];\nSELECT 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_dummy",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Metadata for folder",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Truncate uncrime_untyped",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "src_csv_uncrime_folder",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.p_Container",
								"type": "Expression"
							},
							"Path": {
								"value": "@pipeline().parameters.p_Path",
								"type": "Expression"
							},
							"FileName": "burglary.csv"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata for folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set FileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_FileName",
								"value": {
									"value": "@{item().name}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "unstatistic-extract-uncrimefiles",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "unstatistic-extract-uncrimefiles",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_Container": {
										"value": "@pipeline().parameters.p_Container",
										"type": "Expression"
									},
									"p_Path": {
										"value": "@pipeline().parameters.p_Path",
										"type": "Expression"
									},
									"p_Filename": {
										"value": "@variables('v_FileName')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_Container": {
				"type": "string",
				"defaultValue": "unstatistic-sourcefiles"
			},
			"p_Path": {
				"type": "string",
				"defaultValue": "CrimeStat.Source.UNCrime"
			},
			"p_Filename": {
				"type": "string",
				"defaultValue": "burglary.csv"
			}
		},
		"variables": {
			"PiplineExecutionDescription": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"PiplineExecutionStatus": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"v_FileName": {
				"type": "String",
				"defaultValue": "burglary.csv"
			}
		},
		"annotations": []
	}
}