pipeline/unstatistic-extract-uncrimefiles.json
{
	"name": "unstatistic-extract-uncrimefiles",
	"properties": {
		"activities": [
			{
				"name": "Copy uncrime",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP PipelineExecutionHistory_Create",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "RegionName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "RegionName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SubRegionName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubRegionName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CountryName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CountryName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Year",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Count",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Count",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_csv_uncrime",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Path": {
								"value": "@pipeline().parameters.Path",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.Filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dst_sql_uncrime_untyped",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP PipelineExecutionHistory_Create",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Create]",
					"storedProcedureParameters": {
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsnmdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP PipelineExecutionHistory_Update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update Filename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[adf].[usp_PipelineExecutionHistory_Update]",
					"storedProcedureParameters": {
						"Description": {
							"value": {
								"value": "@variables('PiplineExecutionDescription')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Status": {
							"value": {
								"value": "@variables('PiplineExecutionStatus')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "unstatisticsqlsnmdevlinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update Filename",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy uncrime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "UPDATE [staging].[uncrime_untyped] \nSET [FileName]=\"bbb\"\nWHERE [FileName] IS NULL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_dummy",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string",
				"defaultValue": "unstatistic-sourcefiles"
			},
			"Path": {
				"type": "string",
				"defaultValue": "CrimeStat.Source.UNCrime"
			},
			"Filename": {
				"type": "string",
				"defaultValue": "burglary.csv"
			}
		},
		"variables": {
			"PiplineExecutionDescription": {
				"type": "String",
				"defaultValue": "succeed"
			},
			"PiplineExecutionStatus": {
				"type": "String",
				"defaultValue": "succeed"
			}
		},
		"annotations": []
	}
}